
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



.Top>ul>li{

    display: inline-block;
}

.top-icons{
    margin-right: 8px;
}


.top-btn{
    width: 75px;
    background-color: #ffff;
    border: 1px solid #d3d2d2;
}

.Top{
    background-color: #ededed;
    color: #646363;
    font-size: 1.2rem;
    font-weight: bold;

}

.top-flag-icon{
    width: 20px;
    margin-left: 8px;
}

.page-links>a{

    text-decoration: none;
    color: #555454;
}

.page-links>a:hover{
    border-bottom: 2px solid green;
}

.page-links{
    font-size: 1.4rem;
}

.nav-btn-2{
    background-color: #8fc740;
    border: 1px solid;
}

.navbar{
    border-bottom: 2px solid #e5e3e3;
}

